$hell-color: firebrick;
$border-color: #c0c0c0c0;
$header-height: 32px;
$toolbar-height: 40px;
$info-cell-width: 40px;
$row-heigh: 24px;

$size18px: 1.1875rem;

$bgc-cell: #f8f9fa;
$outline-locor: #3c74ff;